body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    
    
    
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    margin-left: 20px;
    
    

}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
}



.buttonContainer {
    display: flex;
    justify-content: center;
}

.gridSize {
    height: 5vh;
    width: 15vw;    
    font-size: 60px;
    
    
}
